/* autor Stefan Kostić */

/* global styles */
body											{ font-family: 'Pontano Sans', sans-serif; font-size: 14px; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }

/* basic header setup */
#page-header									{  width: 100%; }
#logotype										{ height: 58px; width: 193px; float: left; display: block; text-indent: -9999px; margin: 15px; 
												-webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease;
												}
#logotype:hover									{ opacity: .6; filter: alpha(opacity=60); }

/* primary navigation */
#primary-nav									{  }
#primary-nav									{ border-right: 10px solid #343434; display: block; float: right; height: 90px; margin: 0; padding: 0 24px 0 0; }
#primary-nav > ul								{ margin: 0; padding: 0; list-style: none; }
#primary-nav > ul > li							{ display: block; float: left; margin: 25px 6px; padding: 0; position: relative; }
#primary-nav > ul > li > a,
#primary-nav > ul > li > a:visited				{ display: block; padding: 9px 10px; text-decoration: none; }
#primary-nav > ul > li > a:hover,
#primary-nav > ul > li > a.hover				{ -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; box-sizing: padding-box; text-shadow: 0px -1px 0px rgba(0,0,0,0.5); 
												-webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease;
												}
#primary-nav > ul > li > a.withsiblings:hover	{ -webkit-border-bottom-left-radius: 0px; -moz-border-radius-bottomright: 0px; -moz-border-radius-bottomleft: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; }

#primary-nav > ul ul							{ display: none; -webkit-border-radius: 5px; -webkit-border-top-left-radius: 0; -moz-border-radius: 5px; -moz-border-radius-topleft: 0; border-radius: 5px; border-top-left-radius: 0; 
												margin: 0; padding: 5px 0; list-style: none; box-shadow: 0px 2px 4px rgba(0,0,0,0.3); opacity: 0; filter: alpha(opacity=0);
												}
#primary-nav > ul ul li							{ display: block; min-width: 190px; }
#primary-nav > ul ul li a						{ display: block; margin: 0 5px; padding: 5px 10px; text-decoration: none; color: #fff; border-top: 1px dashed rgba(255,255,255,0.2); border-bottom: 1px dashed rgba(0,0,0,0.15); }
#primary-nav > ul ul li:first-child a			{ border-top: none; }
#primary-nav > ul ul li:last-child a			{ border-bottom: none; }
#primary-nav > ul > li:hover ul					{ position: absolute; left: 0; top: 34px; display: block; z-index: 900; opacity: 1; filter: alpha(opacity=100);}

/*=================================*/
#primary-nav-1									{  }
#primary-nav-1									{ border-right: 10px solid #343434; display: none; float: right; height: 90px; margin: 0; padding: 0 24px 0 0; }
#primary-nav-1 > ul								{ margin: 0; padding: 0; list-style: none; }
#primary-nav-1 > ul > li							{ display: block; float: left; margin: 25px 6px; padding: 0; position: relative; }
#primary-nav-1 > ul > li > a,
#primary-nav-1 > ul > li > a:visited				{ display: block; padding: 9px 10px; text-decoration: none; }
#primary-nav-1 > ul > li > a:hover,
#primary-nav-1 > ul > li > a.hover				{ -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; box-sizing: padding-box; text-shadow: 0px -1px 0px rgba(0,0,0,0.5); 
												-webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease;
												}
#primary-nav-1 > ul > li > a.withsiblings:hover	{ -webkit-border-bottom-left-radius: 0px; -moz-border-radius-bottomright: 0px; -moz-border-radius-bottomleft: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; }

#primary-nav-1 > ul ul							{ display: none; -webkit-border-radius: 5px; -webkit-border-top-left-radius: 0; -moz-border-radius: 5px; -moz-border-radius-topleft: 0; border-radius: 5px; border-top-left-radius: 0; 
												margin: 0; padding: 5px 0; list-style: none; box-shadow: 0px 2px 4px rgba(0,0,0,0.3); opacity: 0; filter: alpha(opacity=0);
												}
#primary-nav-1 > ul ul li							{ display: block; min-width: 190px; }
#primary-nav-1 > ul ul li a						{ display: block; margin: 0 5px; padding: 5px 10px; text-decoration: none; color: #fff; border-top: 1px dashed rgba(255,255,255,0.2); border-bottom: 1px dashed rgba(0,0,0,0.15); }
#primary-nav-1 > ul ul li:first-child a			{ border-top: none; }
#primary-nav-1 > ul ul li:last-child a			{ border-bottom: none; }
#primary-nav-1 > ul > li:hover ul					{ position: absolute; left: 0; top: 34px; display: block; z-index: 900; opacity: 1; filter: alpha(opacity=100);}

/*=================================*/

#primary-nav-mobile								{ clear: both; display: none; margin: 20px 0; }
#primary-nav-mobile	select						{ background: #fff; border: 1px solid #434343; color: #434343; display: block; font-size: 1.1em; padding: 8px; width: 100%; }

.fancy-headers									{ font-family: 'Oswald', sans-serif;; text-transform: uppercase;  }
.fancy-headers h1,
.fancy-headers h2								{ font-weight: 200; text-align: justify; }


/* content styling */
.content-title									{ font-family: 'Pontano Sans', serif; padding: 30px 0 30px 90px; }
.content-title h1								{ font-size: 1.714em; font-weight: normal; margin: 0; padding: 0; text-transform: uppercase; line-height: 1em; }
.content-title h2								{ font-size: 1.286em; font-weight: normal; margin: 0; padding: 0; line-height: 1em; }

.content-title.welcome							{ background: url(../img/common/icon_welcome.png) 10px 50% no-repeat; }
.content-title.blog								{ background: url(../img/common/icon_blog.png) 10px 50% no-repeat; }
.content-title.page								{ background: url(../img/common/icon_page.png) 10px 50% no-repeat; }
.content-title.single							{ background: url(../img/common/icon_single.png) 10px 50% no-repeat; }
.content-title.calendar							{ background: url(../img/common/icon_calendar.png) 10px 50% no-repeat; }
.content-title.event							{ background: url(../img/common/icon_calendar-single.png) 10px 50% no-repeat; }
.content-title.contact							{ background: url(../img/common/icon_contact.png) 10px 50% no-repeat; }

#content-header									{ margin-bottom: 5px; }
#content-header .fancy-headers					{ padding: 18px; }
#content-header .fancy-headers h1,
#content-header .fancy-headers h2				{ margin: 0; }
#content-header .fancy-headers h1				{ font-size: 2.114em; line-height: 1.2em; }
#content-header .fancy-headers h2				{ font-size: 1.857em; line-height: 1.2em; }

#banner											{ margin: 20px 15px 10px; }
#banner a,
#banner a:visited								{ display: block; padding: 8px; 
												-moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; box-sizing: padding-box;
												}
#banner img										{ width: 100%; height: auto; }

/* post formatting (headings, galleries, tables etc) */
.posts .post									{ width: 100%; }
.front-page.posts .post							{ width: 50%; float: left; }
.post-offset									{ margin: 15px; }

.blog.posts .post								{ margin-top: 50px; }
.blog.posts .post.single						{ margin-top: 0; }
.blog.posts .post-icon							{ float: left; margin: 0 20px 20px 0; }
.blog.posts .post-options						{ clear: both; }
.blog.posts .post-offset > h1					{ margin-bottom: 0 !important; }
.post-offset figure.post-icon a					{ display: block; padding: 8px; 
												-moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; box-sizing: padding-box;
												}
.post-offset figure.post-icon a img				{ max-width: 100%; height: auto; }
.post-offset > h1								{ font-family: 'Oswald', sans-serif; font-size: 1.429em; font-weight: normal; text-transform: uppercase; margin: 20px 0; padding: 0; }
.post-offset > h1 a,
.post-offset > h1 a:visited						{ text-decoration: none; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease; }

.entry-date										{ color: #494949; }

.post-offset h1,
.post-offset h2,
.post-offset h3,
.post-offset h4,
.post-offset h5,
.post-offset h6									{ color: #fff; font-family: 'Oswald', sans-serif; font-weight: 300; margin: .67em 0 .25em; }

.post-offset h2									{ font-size: 1.4em; }
.post-offset h3									{ font-size: 1.3em; }
.post-offset h4									{ font-size: 1.2em; }
.post-offset h5									{ font-size: 1.1em; }
.post-offset h6									{ font-size: 1em; }

.post-offset ul,
.post-offset ol,
.post-offset dl									{ color: #fff; }

.post-offset ul									{ list-style: outside; }

.post-offset .gallery							{ display: block; width: 100%; clear: both; margin: 10px 0; padding: 0; list-style: none; overflow: hidden; text-align: center; }
.post-offset .gallery li						{ display: inline-block; margin: 0; padding: 0; width: 20%; min-width: 84px; max-width: 150px; }
.post-offset .gallery figure					{ background: #1e1e1e; color: #909090 !important; display: block; margin: 2px; padding: 5px; box-shadow: inset 0px 1px 0px rgba(255,255,255,0.15);
												-moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; box-sizing: padding-box;
												-webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease;
												}
.post-offset .gallery figure:hover				{ background: #2c2c2c; color: #fff !important; }
.post-offset .gallery figure a					{ display: block; }
.post-offset .gallery figure img				{ width: 100%; max-width: 100%; height: auto; }
.post-offset .gallery figcaption				{ margin: 5px 0 0; text-align: center; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.post-offset table								{ width: 100%; border-collapse: collapse; text-align: left; }
.post-offset table th							{ border: 1px solid #282828; color: #fff !important; font-weight: 300; font-family: 'Oswald', sans-serif; font-size: 1em; padding: 10px 4px; }
.post-offset table td							{ border: 1px solid #282828; color: #bdbdbd; padding: 4px; }
.post-offset table tr:nth-child(odd) td			{ background: rgba(0,0,0,0.3); }

/* comments tree (with nesting) */
#comments										{ margin: 0; padding: 0; list-style: none; }
#comments li									{ margin: 0; padding: 0; }
#comments ul									{ margin: 0 0 0 30px; padding: 0; list-style: none; }
.comment-author .avatar							{ padding: 4px; box-shadow: inset 0px 1px 0px rgba(255,255,255,0.35); 
												background: rgb(36,36,36); /* Old browsers */
												background: -moz-linear-gradient(top,  rgba(36,36,36,1) 0%, rgba(24,24,24,1) 100%); /* FF3.6+ */
												background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(36,36,36,1)), color-stop(100%,rgba(24,24,24,1))); /* Chrome,Safari4+ */
												background: -webkit-linear-gradient(top,  rgba(36,36,36,1) 0%,rgba(24,24,24,1) 100%); /* Chrome10+,Safari5.1+ */
												background: -o-linear-gradient(top,  rgba(36,36,36,1) 0%,rgba(24,24,24,1) 100%); /* Opera 11.10+ */
												background: -ms-linear-gradient(top,  rgba(36,36,36,1) 0%,rgba(24,24,24,1) 100%); /* IE10+ */
												background: linear-gradient(to bottom,  rgba(36,36,36,1) 0%,rgba(24,24,24,1) 100%); /* W3C */
												filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242424', endColorstr='#181818',GradientType=0 ); /* IE6-9 */
												-moz-border-radius: 500px; -webkit-border-radius: 500px; -o-border-radius: 500px; border-radius: 500px;
												}
.comment-author .url							{ text-decoration: none; color: #fff; }
.comment .commententry							{ border-bottom: 1px solid #282828; }
.comment .commententry p						{ color: #b6b6b6 !important; }
.comment .commententry .reply					{ clear: both; display: block; width: 100%; margin: 10px 0; padding: 0; text-align: right; }
.comment-author img								{ float: left; margin-right: 10px; }

/* post meta - social icons */
.post-options 									{ margin: 30px 0 20px; padding: 19px; overflow: hidden; }
.post-options .social							{ margin: 6px; padding: 0; list-style: none; display: block; float: left; }
.post-options .social li						{ display: block; float: left; margin: 0 16px 0 0; padding: 0; }
.post-options .social li a						{ background: url(../img/common/post-social-sprite.png) no-repeat; display: block; height: 32px; width: 32px; text-indent: -9999px; outline: none; }
.post-options .social li a.share				{ background-position: 0 0; }
.post-options .social li a.facebook-share		{ background-position: -32px 0; }
.post-options .social li a.twitter-share		{ background-position: -64px 0; }
.post-options .social li a.share:hover			{ background-position: 0 -32px; }
.post-options .social li a.facebook-share:hover	{ background-position: -32px -32px; }
.post-options .social li a.twitter-share:hover	{ background-position: -64px -32px; }

.post-options .more-link						{ float: right; }



/* sidebar widgets styling */
.photo-stream									{ margin: 0 0 15px 0; padding: 0; list-style: none; overflow: hidden; }
.photo-stream li								{ margin: 0; padding: 0; display: block; float: left; width: 33.333%; text-align: center; }
.photo-stream li a,
.photo-stream li a:visited						{ display: inline-block; margin: 15px 10px 0 10px; padding: 8px; 
												-moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; box-sizing: padding-box;
												}
.photo-stream li a:hover						{  }
.photo-stream li a img							{ display: block; height: auto; width: 100%; }

/* widget headers */
.widget .fancy-headers							{ padding: 20px 0 20px 20px; }
.widget .fancy-headers h1						{ margin: 0; padding: 0; font-size: 1.571em; line-height: 1em; }
.widget .fancy-headers h2						{ margin: 0; padding: 0; font-size: 1.571em; line-height: 1em; }

/* playlist widget */
.widget .playlist								{  }
.widget .playlist ul							{ border-bottom: 1px solid #252525; list-style: none; margin: 0 0 20px 0; padding: 0; }
.widget .playlist ul li							{ border-top: 1px solid #252525; border-bottom: 1px solid #050505; display: block; margin: 0; padding: 11px 20px 11px 40px; cursor: pointer; }
.widget .playlist p								{ color: #fff; margin: 0; padding: 0; overflow: hidden; font-size: 1.071em; line-height: 1.071em; }
.widget .playlist .set-name						{ display: block; float: left; width: 80%; text-align: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.widget .playlist .set-time						{ display: block; float: right; width: 20%; text-align: right; }

/* upcoming events widget */
.widget .upcoming-events						{  }
.flyer-wrapper									{ position: relative; text-align: center; margin: 27px auto;}
.flyer-wrapper figure							{ display: inline-block; }
.flyer-wrapper figure img						{ display: block; height: auto; width: 100%; }
.flyer-wrapper p								{ position: absolute; font-family: 'Oswald', sans-serif; font-size: 1.286em; line-height: 1.286em; margin: 0; padding: 10px; }
.flyer-wrapper p.event-date						{ top: 20px; right: -20px; }
.flyer-wrapper p.view-event						{ bottom: 20px; left: -20px; }


/* pagination styling */
#pagination										{ text-align: center; margin: 35px 0 45px 0; }
#pagination ol									{ display: inline-block; list-style: none; margin: 0; padding: 0;  }
#pagination ol li								{ display: block; float: left; margin: 0 3px; padding: 0; }
#pagination ol li a,
#pagination ol li a:visited						{ display: block; line-height: 1em; padding: 10px 10px 8px; text-decoration: none; }

/* footer social hub */
.social-hub										{ clear: both; list-style: none; margin: 0; padding: 0; width: 100%; text-align: center; }
.social-hub li									{ display: inline-block; margin: 0 4px;}
.social-hub li a								{ box-shadow: 0px 1px 2px rgba(0,0,0,0.75), inset 0px 1px 0px rgba(255,255,255,0.15); display: block; text-indent: -9999px; height: 64px; width: 64px; position: relative;
												-moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; box-sizing: padding-box;
												background: rgb(34,34,34); /* Old browsers */
												background: -moz-linear-gradient(top,  rgba(34,34,34,1) 0%, rgba(23,23,23,1) 100%); /* FF3.6+ */
												background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(34,34,34,1)), color-stop(100%,rgba(23,23,23,1))); /* Chrome,Safari4+ */
												background: -webkit-linear-gradient(top,  rgba(34,34,34,1) 0%,rgba(23,23,23,1) 100%); /* Chrome10+,Safari5.1+ */
												background: -o-linear-gradient(top,  rgba(34,34,34,1) 0%,rgba(23,23,23,1) 100%); /* Opera 11.10+ */
												background: -ms-linear-gradient(top,  rgba(34,34,34,1) 0%,rgba(23,23,23,1) 100%); /* IE10+ */
												background: linear-gradient(to bottom,  rgba(34,34,34,1) 0%,rgba(23,23,23,1) 100%); /* W3C */
												filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#171717',GradientType=0 ); /* IE6-9 */
												}

.social-hub li a span							{ background: url(../img/common/footer-social-sprite.png) 0 0 no-repeat; display: block; height: 36px; width: 36px; opacity: 0.5; filter: alpha(opacity=50); position: absolute; top: 14px; left: 14px; 
												-webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease;
												}
.social-hub li a:hover span						{ opacity: 1; filter: alpha(opacity=100); }
.social-hub li a.share span						{ background-position: 0 0; }
.social-hub li a.facebook-share span			{ background-position: -36px 0; }
.social-hub li a.twitter-share span				{ background-position: -72px 0; }

/* page footer */
#page-footer									{  }
#page-footer .fancy-headers						{ clear: both; }
#page-footer .fancy-headers h3					{ font-size: 1.286em; }

#page-footer a,
#page-footer a:visited							{ text-decoration: none; }

/* footer staff members */
.staff-members									{ display: block; list-style: none; text-align: center; padding: 0; margin: 0; }
.staff-members li								{ display: block; float: left; padding: 0; height: auto; width: 20%; position: relative; 
												}
.staff-members li p								{ background: #000; background: rgba(0,0,0,0.75); text-align: center; width: 120px; display: none;
												position: absolute; top: 10px; left: 50%; opacity: 0; filter: alpha(opacity=0); padding: 10px 20px; margin: 0 0 0 -80px; z-index: 20; 
												-moz-border-radius: 10px; -webkit-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; box-sizing: padding-box;
												}
.staff-members li:hover p						{ display: block; top: -45px; opacity: 1; filter: alpha(opacity=100); }
.staff-members li figure						{ margin: 3px 3px; padding: 6px; box-shadow: inset 0px 1px 0px rgba(255,255,255,0.35);
												background: transparent; /* clear just in case */
												filter: '';
												background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc5MjgiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiMyNDI0MjQiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMxODE4MTgiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c5MjgpIiAvPgo8L3N2Zz4=);
												/* color used: #242424 => #181818 */
												-moz-border-radius: 500px; -webkit-border-radius: 500px; -o-border-radius: 500px; border-radius: 500px; overflow: hidden;
												}
.staff-members li figure img					{ display: block; height: auto; width: 100%; -moz-border-radius: 500px; -webkit-border-radius: 500px; -o-border-radius: 500px; border-radius: 500px; }

/* footer copyrights */
.copyright										{ padding: 28px; font-size: 0.857em; text-align: center; }
.copyright a,
.copyright a:visited							{ text-decoration: none; }

/* comment form styling (single.html view) */
#commentform label								{ color: #d9d9d9; font-size: 0.813em; padding: 5px 10px; }
#commentform input[type='text'],
#commentform textarea							{ background: #242424; border: 1px solid #282828; color: #fff; padding: 4px; 
												-webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;
												}
#commentform input[type='text']:focus,
#commentform textarea:focus						{ background: #171717; border: 1px solid #353535; }


/* Responsive video embedding & rich media (iframed content)
 * For responsive iframes (Youtube, SoundCloud, Mixcloud etc) simply place 
 * the iframe mebed code between <div class="media-container"></div> for
 * proper scaling-down
 */
video 											{ max-width: 100%; height: auto; }
.media-container 								{ position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }
.media-container iframe,  
.media-container object,  
.media-container embed 							{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* vCard styling */
.vcard											{ font-size: 1.143em; font-style: italic; color: #ADADAD; }
.vcard a										{ color: #fff; text-decoration: none; }
.vcard a:hover									{ color: #d9d9d9; }
.vcard .fn										{ color: #fff; font-size: 1.125em; }
.latest-tweet									{ background: url(../img/common/quotes.png) 0 0 no-repeat; display: block; padding: 5px 5px 5px 50px; font-size: 1.143em; }
.latest-tweet a									{ color: #dedede !important; text-decoration: none; }



/* global buttons styling */
.btn											{ display: inline-block; line-height: 1.429em; vertical-align: middle; border: none;
												-webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;
												}
.btn-small										{ padding: 4px 8px; }
.btn-medium										{ padding: 12px 15px; }
.btn-xxl										{ font-size: 1.25em; padding: 15px 20px; }

.btn-small .icon								{  }
.btn-medium .icon								{ margin-top: 1px; }
.btn-xxl .icon									{ margin-top: 3px; }


/* event calendar styling */
.months											{ color: #ffffff; text-align: center; font-size: 2em; font-weight: 400; }
.months div										{ background: rgba(0, 0, 0, 0.3); border: 1px solid #282828; margin-bottom: 5px; padding: 5px; position: relative; }
.months a										{ background: rgba(255,255,255,0.1); color: #fff !important; display: block; padding: 5px 18px; text-decoration: none; font-weight: 300 !important; 
												-webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; transition: all .3s ease-in-out;
												}
.months a:hover									{ background: rgba(255,255,255,0.3); }
.months .prev									{ position: absolute; top: 0; left: 0; }
.months .next									{ position: absolute; top: 0; right: 0; }
#upcoming-events								{ font-size: 1.5em; }
#upcoming-events th								{ text-align: center; }
#upcoming-events td								{ padding: 0 !important; }
#upcoming-events span							{ display: block; padding: 40px 10px; text-align: center; }
#upcoming-events span.nextmonth					{ color: #323232 !important; }

.party											{ display: block; position: relative; }

#event-header                					{ position : relative; left:0px }


.event-info										{ height: 100px; position: absolute; top: -30px; left: -10px; background: #000; background: rgba(0,0,0,0.75); border: 1px solid rgba(255,255,255,0.15); padding: 10px; width: 100%; min-width: 100px; z-index: 200; opacity: 0; filter: alpha(opacity=00); box-shadow: 0px 2px 4px rgba(0,0,0,0.5); overflow: hidden;
												/* -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; transition: all .3s ease-in-out; */ font-size: 13px;
												-moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; box-sizing: padding-box; text-shadow: 0px -1px 0px rgba(0,0,0,0.5);
												}
.event-info ul									{ margin: 0; padding: 0; list-style: none; }
.event-info li									{ margin: 0; padding: 0; }
.event-info li p								{ margin: 5px 0; }
.event-info li img								{ width: 100%; height: auto;
												-webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; transition: all .3s ease-in-out; opacity: 1; margin-bottom: 5px;
												}
.event-info li img:hover						{ opacity: .7; filter: alpha(opacity=70); }
.event-info li strong							{ text-transform: uppercase; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.event-info a.btn,
.event-info a.btn:visited,
.event-info a									{ margin-top: 8px; color: #fff !important; }

.party:hover .event-info						{ display: block;/*  top: -10px; opacity: 1; filter: alpha(opacity=100); height: 316px; */ }

#map_canvas										{ width: 100%; height: 400px; margin-top: 20px; }

.generic-form									{ padding: 5px; }
.generic-form label								{ color: #d9d9d9; font-size: 0.813em; padding: 5px 10px; }
.generic-form input[type='text'],
.generic-form textarea							{ background: #242424; border: 1px solid #282828; color: #fff; padding: 4px; 
												-webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;
												}
.generic-form input[type='text']				{ width: 220px; }
.generic-form textarea							{ width: 300px; }
.generic-form input[type='text']:focus,
.generic-form textarea:focus					{ background: #171717; border: 1px solid #353535; }

#styleswitcher									{ position: fixed; top: 106px; left: 0; z-index: 1200; height: 120px; padding: 5px; box-shadow: 2px 0 10px rgba(0,0,0,0.5);
												-webkit-border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;
												background: rgb(255,255,255); /* Old browsers */
												background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%); /* FF3.6+ */
												background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
												background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
												background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
												background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%); /* IE10+ */
												background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%); /* W3C */
												filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-9 */
												}
#styleswitcher dt								{ display: none; }
#styleswitcher dd								{ margin-left: 6px; margin-bottom: 5px; }
#styleswitcher dd a								{ box-shadow: inset 0px 2px 4px rgba(0,0,0,0.5); outline: none; 
												-webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease;
}
#styleswitcher dd a:hover						{ opacity: .7; filter: alpha(opacity=70); }

#styleswitcher .orange							{ background: #EC4200; }

@media (min-width: 768px) and (max-width: 1199px) {
/* @media screen and (min-width: 700px) and (max-width: 1199px) { */
	.flexslider									{ margin: 20px 15px 30px; }
	
	.flex-direction-nav a 						{ width: 46px; height: 51px; margin: -25px 0 0; display: block; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; }
	.flex-direction-nav .flex-next 				{ background-position: -46px 0; right: -14px; }
	.flex-direction-nav .flex-prev 				{ left: -14px; }
	.flex-direction-nav .flex-next:hover		{ background-position: -46px -51px; }
	.flex-direction-nav .flex-prev:hover		{ background-position: 0 -51px; }
	#slider .fancy-headers h1					{ font-size: 1.5em;  }
	#slider .fancy-headers h2					{ font-size: 2.286em; }
	#slider p									{ font-size: 1em; margin: 0 ; padding: 0; }

	.content-title								{ padding: 20px 20px 20px 90px; }
	.content-title h1							{  }
	.content-title h2							{  }

	#content-header .fancy-headers h1			{ font-size: 1.614em; }
	#content-header .fancy-headers h2			{ font-size: 1.457em; }

	.blog.posts .post-icon						{ float: left; margin: 0 20px 5px 0; }

	.post-offset > h1							{ font-size: 1.229em; }
	.post-options								{ padding: 19px 0; text-align: center; }
	.post-options .social						{ float: left; margin: 6px 0 6px 10px; }
	.post-options .social li					{ float: none; display: inline-block; margin: 0 5px 0 0; }
	.post-options .more-link					{ float: right; margin: 0 10px 0 0; }

	.widget .playlist .set-name					{ display: block; float: left; width: 100%; text-align: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
	.widget .playlist .set-time					{ display: none; }
	
	.widget .fancy-headers h1					{ font-size: 1.371em; }
	.widget .fancy-headers h2					{ font-size: 1.471em; }
	
	.flyer-wrapper								{ margin: 0; padding: 27px 20px; overflow: hidden; }
	.flyer-wrapper p.event-date					{ top: 47px; right: 0px; }
	.flyer-wrapper p.view-event					{ bottom: 47px; left: 0px; }
}

@media (min-width: 768px) and (max-width: 979px) {
	.resp										{ display: none; }

	.content-title								{  }
	.content-title h1							{ font-size: 1.314em; }
	.content-title h2							{  }

	#content-header .fancy-headers h1			{ font-size: 1.214em }
	#content-header .fancy-headers h2			{ font-size: 1.357em; }

	.blog.posts .post-icon						{ float: none; }
	.blog.posts .post-icon img					{ width: 100% !important; }

	.widget .fancy-headers						{ padding: 15px 0 15px 15px; }
	.widget .fancy-headers h1					{ font-size: 1.071em; }
	.widget .fancy-headers h2					{ font-size: 1.071em; }
	
	
	.staff-members li figure					{ padding: 4px; }
	
	.generic-form textarea						{ width: 100%; }
}

@media (max-width: 767px) {
	.resp										{ display: none; }
	body										{ padding: 0 20px; }
	#page-header								{ padding: 0 20px; margin: 0 -20px; }
	#slider,
	#content-header								{ margin: 0 -20px; }
	
	#primary-nav								{ display: none; }
	#primary-nav-mobile							{ display: block; }
	#primary-nav-1								{ display: block; }
	
	#page-footer								{ padding: 0 20px 20px; margin: 0 -20px; }

	#slider .fancy-headers h1					{ font-size: 1.286em; }
	#slider .fancy-headers h2					{ font-size: 1.286em; }
	#slider p									{ display: none; }	

	.flexslider									{ margin: 0 0 30px; padding: 0;}
	.flex-direction-nav							{ display: none; }
	
	.flex-direction-nav a 						{ width: 46px; height: 51px; margin: -25px 0 0; display: block; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; }
	.flex-direction-nav .flex-next 				{ background-position: -46px 0; right: -14px; }
	.flex-direction-nav .flex-prev 				{ left: -14px; }
	.flex-direction-nav .flex-next:hover		{ background-position: -46px -51px; }
	.flex-direction-nav .flex-prev:hover		{ background-position: 0 -51px; }

	.content-title								{ padding: 30px 20px 30px 80px; }
	.content-title h1							{ font-size: 1.15em; }

	#content-header .fancy-headers h1			{ font-size: 1.286em }
	#content-header .fancy-headers h2			{ font-size: 1.286em }
	
	.front-page.posts .post						{ clear: both; float: none; width: 100%; }
	.post-offset								{ margin: 20px 0; }
	.post-offset figure.post-icon a				{ display: inline-block; padding: 8px; margin: 0 auto; }
	.post-offset figure.post-icon a img			{ max-width: 100%; height: auto; }
	
	.post-options .social						{ float: left; }
	.post-options .social li					{ display: block; float: left; margin: 0 16px 0 0; }
	.post-options .more-link					{ float: right; }

	.widget .fancy-headers h1					{ margin: 0; padding: 0; font-size: 1.271em; line-height: 1.1em; }
	.widget .fancy-headers h2					{ margin: 0; padding: 0; font-size: 1.271em; line-height: 1.1em; }
	
	.flyer-wrapper								{ margin: 0 auto; padding: 27px 20px; overflow: hidden; }
	.flyer-wrapper p.event-date					{ right: 0; top: 48px; }
	.flyer-wrapper p.view-event					{ left: 0; }
	
	.copyright									{ margin: 0 -20px -20px; border-left: none !important; border-right: none !important; }
	.generic-form textarea						{ width: 100%; }
}