/* autor Stefan Kostić */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #292929;
    margin: auto;
    padding: 0;
    border-radius: 20px;
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.7s;
    animation-name: animatetop;
    animation-duration: 0.7s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 1% 16px;
    font-size: 10px;
    background-color: #ff4800;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
ul
{
    list-style-type: none;
}
form li{
	border: 2px ridge rgba(187, 185, 189, 0.11);
	border-radius: 0.3em;
	-webkit-border-radius:0.3em;
	-moz-border-radius:0.3em;
	-o-border-radius:0.3em;
	list-style:none;
	margin-bottom:8px;
	background:#2f2f2f;
	width:85%;
}

.modal-body {padding: 51px px;}

.modal-footer {
    padding: 1px 16px;
    padding-bottom: 24px;
    padding-top: 8px;
    margin: 0px;
    background-color: #1f1f1f;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
input[type="text"], input[type="password"] {
	font-family: 'Droid Sans', sans-serif;
	width:100%;
	padding: 0.5em 2em 0.5em 1em;
	color: #B8B8B8;
	font-size:14px;
	outline: none;
	background: none;
	border:none;
	font-style:italic;
}
input[type="text"]:hover, input[type="password"]:hover{
	color:#ff4800;
}
.sub {
    background-color: #ff4800;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
	border-radius: 10px;
	float: right;
}
.sub:hover {
	background-color: #e64100;
}
/* ====================== registracija ====================== */
.modalreg {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-contentreg {
    position: relative;
    background-color: #292929;
    margin: auto;
    padding: 0;
    border: 0px solid #888;
    border-radius: 20px;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.7s;
    animation-name: animatetop;
    animation-duration: 0.7s;
}
.closereg {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closereg:hover,
.closereg:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-headerreg {
    padding: 1% 16px;
    font-size: 10px;
    background-color: #ff4800;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.modal-bodyreg {padding: 51px px;}

.modal-footerreg {
    padding: 1px 16px;
    padding-bottom: 23px;
    padding-top: 8px;
    margin: 0px;
    background-color: #1f1f1f;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.subreg {
    background-color: #ff4800;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
	border-radius: 10px;
	float: right;
}
.subreg:hover {
	background-color: #e64100;
}
table {
	border-spacing: 4px;
    border-collapse:inherit;
    padding:10px;
    padding-bottom: 5px;
}
.data {
	background: #2f2f2f;
	border-radius: 5px;
	width:2%;
}
.ndata {
	color:white;
	width:.5%;	
}
.none {
	color:lightgray;
}
.move {
	position:relative;
	font-size:9px;
	left:15px;
	top:6px;
}
.opcija {
	text-align:center;
}

@media (max-width: 767px) {
		.modalreg {
			padding-top: 20px;
		}

		/* Modal Content */
		.modal-contentreg {
			width: 400px;
		}

		.modal {
			padding-top: 20px;
		}
}